#
# Large format cameras like the SX-56 need more USB memory, this rule runs
# a program to increse the memory size.
#
# echo 128 > /sys/module/usbcore/parameters/usbfs_memory_mb
#
# and make sure it is executable. Then the following rule will ensure the
# USB memory is large enough whenver you plug in the SX-56 camera
# 
ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0601", OWNER="root", GROUP="root", MODE="0666", RUN="/home/afm/Projects/arm/AstroPhotography/control/root/sbin/sxusbmemory"

ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0326", OWNER="root", GROUP="root", MODE="0666", RUN="/home/afm/Projects/arm/AstroPhotography/control/root/sbin/sxusbmemory"

ATTRS{idVendor}=="1278", ATTRS{idProduct}=="*", OWNER="root", GROUP="root", MODE="0666"

