# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

ui_*.h
ui_*.cpp
moc_*.h
moc_*.cpp
*.pro

experiments

COPYING
INSTALL
Makefile
Makefile.in
config.guess
config.status
config.sub
configure
.deps
.libs

*.log

stamp-h1
aclocal.m4
autom4te.cache
ar-lib
install-sh
ltmain.sh
missing
libtool
corba
depcomp
.DS_Store
astro-*.tar.gz
*.csv
gui.old
