# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

ui_*.h
ui_*.cpp
moc_*.h
moc_*.cpp
*.pro

# TeX related files
*.aux
*.ind
*.out
*.toc
control/doc/manual/manual.pdf

experiments

COPYING
INSTALL
Makefile
Makefile.in
config.guess
config.status
config.sub
configure
.deps
.libs

*.log

stamp-h1
aclocal.m4
autom4te.cache
ar-lib
install-sh
ltmain.sh
missing
libtool
corba
depcomp
.DS_Store
astro-*.tar.gz
*.csv
gui.old

*.fits
*.png
*.jpg
*.jpeg

control/compile
control/configure~
control/ice/server/var
control/ice/slice/copytimestamp

control/ice/lib/common/camera.cpp
control/ice/lib/common/device.cpp
control/ice/lib/common/exceptions.cpp
control/ice/lib/common/focusing.cpp
control/ice/lib/common/guider.cpp
control/ice/lib/common/image.cpp
control/ice/lib/common/instruments.cpp
control/ice/lib/common/repository.cpp
control/ice/lib/common/tasks.cpp
control/ice/lib/common/types.cpp
control/ice/lib/common/version.cpp

control/scripts/database.sql
control/scripts/sky.png.php
control/scripts/snowstar.service
control/scripts/startastro
control/scripts/status.php

control/tools/astroproject
control/tools/catalog/buildcatalog
control/tools/catalog/starcatalog
control/tools/config/astroconfig
control/tools/config/astroinstrument
control/tools/devices/astrocooler
control/tools/devices/astrofilterwheel
control/tools/devices/astrofocuser
control/tools/devices/astroguideport
control/tools/devices/astroscan
control/tools/devices/dark
control/tools/devices/devicemapper
control/tools/devices/flat
control/tools/devices/focus
control/tools/devices/focusing
control/tools/devices/focustest
control/tools/devices/getimages
control/tools/devices/getstream
control/tools/devices/imageloop
control/tools/devices/index
control/tools/devices/log
control/tools/devices/ticket
control/tools/focus/astrofocus
control/tools/focus/maketestimages
control/tools/guiding/guideport
control/tools/guiding/guider
control/tools/image/background
control/tools/image/backprojection
control/tools/image/calibrate
control/tools/image/clamp
control/tools/image/color
control/tools/image/colorbalance
control/tools/image/colorclamp
control/tools/image/convolve
control/tools/image/crop
control/tools/image/deconvolve
control/tools/image/destar
control/tools/image/findtransform
control/tools/image/fitsheader
control/tools/image/gammacorrect
control/tools/image/hdr
control/tools/image/imageinfo
control/tools/image/imagerepo
control/tools/image/jpg2fits
control/tools/image/logscale
control/tools/image/luminance
control/tools/image/makedark
control/tools/image/makeflat
control/tools/image/nan
control/tools/image/png2fits
control/tools/image/psf
control/tools/image/radon
control/tools/image/rescale
control/tools/image/rgb2xyz
control/tools/image/stack
control/tools/image/stars
control/tools/image/transform
control/tools/image/unsharp
control/tools/mount/astromount
control/tools/process/astroprocess
control/tools/process/process.xml
control/tools/utils/astroephemeris
control/tools/utils/astrohorizon
control/tools/utils/astrosunmoon
control/tools/utils/astrotime
control/tools/utils/gridcalculator

control/ice/client/guide/snowguide
control/ice/client/snowadaptiveoptics
control/ice/client/snowao
control/ice/client/snowcamera
control/ice/client/snowccd
control/ice/client/snowconfig
control/ice/client/snowcooler
control/ice/client/snowdaemon
control/ice/client/snowevent
control/ice/client/snowfiles
control/ice/client/snowfilterwheel
control/ice/client/snowflake
control/ice/client/snowfocus
control/ice/client/snowfocuser
control/ice/client/snowgateway
control/ice/client/snowguideport
control/ice/client/snowheartbeat
control/ice/client/snowimages
control/ice/client/snowinstrument
control/ice/client/snowmount
control/ice/client/snowproject
control/ice/client/snowrepo
control/ice/client/snowscan
control/ice/client/snowservers
control/ice/client/snowstream
control/ice/client/snowtask
control/ice/server/servername
control/ice/server/snowstar

control/lib/discovery/test/sdiscover
control/lib/discovery/test/spublish
control/lib/catalogs/listcatalog

control/include/config.h*

control/drivers/simulator/inverf.m

*.app
.qmake.stash
qrc_main.cpp

gui/compile
gui/common/config.h
gui/snowgui/servername
gui/snowgui/build
